{% extends 'base.html' %}
{% load static %}


{% block style %}
<style>
    .form{
        width: 45%;
        height: 70vh;
        background-color: #f2f2f2;
    }
    .giris{
        background-color: #d9d9d9;
    }
    .sd{
      background-color: #044040;
      color: white;
    }
</style>
{% endblock style %}


{% block title %}
  Şifremi unuttum
{% endblock title %}
  

{% block body %}
  <main>
      <div class="container card-header d-flex justify-content-center my-5 ">
          <form method="POST" class="form m-5 p-5" >
              {% csrf_token %}
              <h3 class="text-center my-4">Şifre Değiştir</h3>
              {% for i in messages %}
              <p class="text-danger text-center">{{ i }}</p>
              {% endfor %}
              <!-- Email input -->
              <div class="form-outline my-4">
                <input name="username" type="text" id="username" class="form-control border" />
                <label class="form-label" for="username">Kullanıcı Adı</label>
              </div>

              <div class="form-outline my-4">
                <input name="hiddenpassword" type="text" id="hiddenpassword" class="form-control border" />
                <label class="form-label" for="hiddenpassword">Gizli Yanıtınız</label>
              </div>

              <div class="form-outline my-4">
                <input name="password1" type="text" id="password1" class="form-control border" />
                <label class="form-label" for="password1">Yeni Şifre</label>
              </div>

              <div class="form-outline my-4">
                <input name="password2" type="text" id="password2" class="form-control border" />
                <label class="form-label" for="password2">Tekrar Yeni Şifre</label>
              </div>

              <div class="d-flex justify-content-evenly">

                <button type="submit" class="btn sd mb-4 ">Şifremi Değiştir</button>

                <div><a class="btn giris" href="{% url 'loginPage' %}">Giriş Yap</a></div>
              </div>

            </div>
            </form>
      </div>
  </main>
{% endblock body %}

